<div class="jumbotron jumbotron-fluid">
    <div class="container justify-content-center">
        <h1 class="display-4">
            <i class="fas fa-hamburger"></i>
            Eat The Burger!
            </h1>
        <p class="lead">Create and eat your fantasy burgers</p>
    </div>
</div>

<div class="contianer-fliud">
    <div class="row mb-5">

        <div class="col-6 justify-content-center">
            <h3>Uneaten</h3>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6 justify-content-center">
            <h3>Devoured</h3>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </div>

    </div>
    <div class="row">
        <div class="col-6 ml-3">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Add a new Burger!</label>
                    <input type="text" class="form-control burgerInput">
                </div>
                <button type="submit" class="btn btn-primary burgerBtn">Submit</button>
            </form>
        </div>
    </div>
</div>